<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bolo da Lud!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="onNavi()">
        <span >Fazer Pedido</span>
      </ion-button>
    </ion-col>
  </ion-row>
  <app-explore-container name="Torta Doçe"></app-explore-container>
</ion-content>

<ion-list>
  <ion-item>
    <ion-label>Torta de Brigadeiro - 80 Reais</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Torta de Casadinho - 90 Reais</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Torta de Ninho com Nutella - 100 Reais</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Torta de Morango - 90 Reais</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Torta de Churros - 80 Reais</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
</ion-list>